{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid">  <!-- 使用 container-fluid 使得容器全宽 -->
    <div class="row no-gutters">  <!-- 使用 no-gutters 去掉列之间的间隙 -->
        <!-- 左侧栏，包含主题层级目录 -->
        <div class="col-md-2">  <!-- 左侧栏宽度 -->
            <h2>大纲</h2>
            <ul>
                {% for topic in topic_hierarchy %}
                <li style="margin-left: {{ topic.level|add:"0" }}em;">
                {{ topic.title }}
                <ul>
                    {% for article in all_articles %}
                    {% if article.topic == topic %}
                    <li style="margin-left: {% if article.topic.level == 1 %}0em{% elif article.topic.level == 2 %}0em{% else %}2em{% endif %};">  <!-- 最末级文章不空格 -->
                        <a href="{% url 'article:article_detail' article.id %}">{{ article.title }}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
                {% endfor %}
            </ul>
        </div>

        <!-- 中间区域，包含文章标题和正文 -->
        <div class="col-md-8">  <!-- 中间区域宽度 -->
            <h1 class="mt-4 mb-4">{{ article.title }}</h1>
            <div class="alert alert-success">
                作者：{{ article.author }}
                <a href="#" onclick="confirm_delete()" class="btn btn-danger">删除文章</a>
                <a href="{% url 'article:article_update' article.id %}">编辑文章</a>
            </div>

            <script>
                // 删除文章的函数
                function confirm_delete() {
                    layer.open({
                        title: "确认删除",
                        content: "确认删除这篇文章吗？",
                        yes: function(index, layero) {
                            location.href='{% url "article:article_delete" article.id %}'
                        },
                    });
                }
            </script>

            <!-- 文章正文 -->
            <div>
                {{ article.body | safe }}  <!-- 使用 |safe 过滤器，确保HTML正常渲染 -->
            </div>
        </div>

        <!-- 右侧栏，包含文章的目录 -->
        <div class="col-md-2">  <!-- 右侧栏宽度 -->
            <h4><strong>目录</strong></h4>
            <hr>
            <div>
                {{ toc|safe }}  <!-- 渲染文章的目录，确保不转义 -->
            </div>
        </div>
    </div>
</div>
{% endblock %}
